
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');

:root {
    --color-main: hsl(355, 74%, 56%);
    --color-body: hsl(0, 0%, 61%);
    --color-tags-all: hsl(44, 84%, 60%);
    --border-radius: 0.4rem;
    --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --box-shadow-pressed: rgba(0, 0, 0, 0.2) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
    --box-shadow-item: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/********************* General reset *********************/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-body);
    
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

span {
    user-select: none;
}

/********************* Main container *********************/

.container {
    display: grid;
    border-radius: var(--border-radius);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    padding: 2rem;
    width: 60%;
    height: 80%;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
 /********************* Header container *********************/

.header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

.logo-img {
    pointer-events: none;
}

.logo,
.add-btn {
    min-width: 100px;
    height: 100%;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--color-main) ;
    aspect-ratio: 1/1;
    transition: all 0.1s ease-in-out;
    box-shadow: var(--box-shadow);

    &:hover {
        filter: brightness(1.1);
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 800;
    overflow: hidden;
}

.add-btn.prevent,
.logo.prevent {
    pointer-events: none;
}

/* Little animation for the plus sign that becomes the close form button */

.plus {
    transform: rotate(0deg);
    transition: all 0.2s ease;
}

.plus.open {
    transform: rotate(45deg);
}

 /********************* Tags container *********************/

.tags {
    position: relative;
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

.tags.block {
    pointer-events: none;
}

.tag-item {
    position: relative;
    z-index: 5;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 800;
    box-shadow: var(--box-shadow);
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        filter: brightness(1.1);
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}

.tag-item[hide] {
    z-index: 0;
    transform: translateX(-100%);
    opacity: 0;
}
.tag-item.pressed {
    box-shadow: var(--box-shadow-pressed);
    filter: brightness(1.1);
}

 /********************* Todo container *********************/

.todos {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    color: #fff;
    gap: 1rem;
    overflow: overlay;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(206, 206, 206, 0.3) -3px -3px 6px 1px inset;
}

div.edit-btn {
    z-index: 7;
    user-select: none;
    color: hsla(0, 0%, 100%, 1);
    position: absolute;
    background-color: inherit;
    cursor: pointer;
    margin-left: 45%;
    width: max-content;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
        filter: brightness(1.1);
    }
}

.edit-btn.hide {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: default;  
}

.todo-item {
    z-index: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    border-radius: var(--border-radius);
    padding-block: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: margin 0.3s ease-in-out, box-shadow 0.2s ease-in-out, filter 0.2s ease-in-out;

    &:hover {
        box-shadow: var(--box-shadow-item);
    }

    &:hover .edit-btn {
        transform: scale(1.1);
        /* transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out; */
        &:active {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 1px 1px;
        }
    }

}

.todo-item[hide]:not(:last-of-type) {
    margin-bottom: calc(-55px - 1rem);
}

.todo-item[hide]:last-of-type {
    z-index: 1;
    margin-top: calc(-55px - 1rem);
}

.title,
.edit-btn,
.date {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.flag,
.delete {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 100%;
    z-index: 6;
}

.flag-icon {
    position: absolute;
    /* z-index: 6; */
    margin-left: 1rem;
    cursor: pointer;
    height: 52%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    border: solid 3px #fff;
    box-sizing: content-box;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #fff;
    }
}

.flag-icon.checked {
    background-color: #fff;
}

.stroke {
    position: absolute;
    width: 0px;
    height: 50%;
    z-index: 5;
    left: 1rem;
    border-radius: var(--border-radius);
    background-color: hsla(0, 0%, 100%, 0.4);
    transition: width 0.2s ease-in-out;
}

.stroke.visible {
    width: calc(100% - 2rem);
}


.delete-icon {
    position: absolute;
    pointer-events: none;
    
    margin-right: 1rem;
    transform: rotate(45deg);
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        font-size: 3.5rem;
    }
}

.todo-item .date {
    justify-content: end;
}

/********************* Form container *********************/

.form-todo {
    z-index: 10;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    display: grid;
    border-radius: var(--border-radius);
    background-color: var(--color-main);
    width: 100%;
    height: 0%;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.form-todo.open,
.form-guide.open {
    height: 100%;
    opacity: 1;
}

.form-fields {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.form-fields:first-child {
    margin-top: 1rem;
}

.form-fields:last-child {
    margin-bottom: 1rem;
}

.form-row {
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.form-row.area {
    grid-column-start: span 3;
}

input,
select,
textarea,
button {
    outline: none;
    border: 0;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;

    &::placeholder {
        opacity: 0.5;
    }
}

textarea {
    resize: none;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
}

.todoLabel {
    opacity: 0;
}

.set-btn-txt {
    color: #fff;
    pointer-events: none;
    font-size: 1.3rem;
    font-weight: 800;
}

.set-btn {
    cursor: pointer;
    background-color: var(--color-main);
    box-shadow: var(--box-shadow);
    transition: all 0.1s ease-in-out;

    &:hover {
        filter: brightness(1.2);;
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}

.form-todo.open.closed,
.form-guide.open.closed {
    height: 0%;
    opacity: 0;
}

/********************* Guide container *********************/

.form-guide {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    border-radius: var(--border-radius);
    background-color: var(--color-main);
    padding: 2rem;
    width: 100%;
    height: 0%;
    opacity: 0;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out; 
}

.guide-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.guide-text {
    font-size: 2.3rem;
    font-weight: 800;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    & ul {
        list-style: none;
        font-size: 1.3rem;
        line-height: 1.6rem ;
    }
    & h3 {
        margin-bottom: 0.5rem;
    }
}

.demo-btn,
.reset-btn {
    cursor: pointer;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--color-main) ;
    transition: all 0.1s ease-in-out;
    box-shadow: var(--box-shadow);

    &:hover {
        filter: brightness(1.1);
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}

.button-container {
    gap: 4rem;
}

.button-container,
.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    & a {
        color: #fff;
        text-decoration: none;
    }
}

/********************* Media queries *********************/

@media (max-width: 850px) {
    .container {
        padding: 1rem;
        width: 90%;
        height: 95dvh;
    }

    div.edit-btn {
        margin-left: 40%;
        font-size: 1rem;
    }

    .todo-item {
        font-size: 1rem;
    }

    .flag-icon,
    .stroke {
        height: 40%;
    }

    .delete-icon {
        font-size: 2rem;
        &:hover {
            font-size: 3rem;
        }
    }

    .form-row {
        margin-inline: 1rem;
        gap: 0.5rem;
    }
    
    input,
    select,
    textarea,
    button {
    font-size: 1rem;
    max-width: 100%;
    }

    .form-fields {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    label {
        font-size: 1rem;
        font-weight: 600;
    }

    .form-row.area {
        grid-column-start: span 1;
    }

    .form-guide {
        gap: 1rem;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        padding: 1rem;
    }

    .guide-header {
        font-size: 1rem;
    }
    
    .guide-text {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        & ul {
            list-style: none;
            font-size: 1rem;
            line-height: 1.2rem ;
        }
        & h3 {
            margin-bottom: 0.5rem;
        }
    }

    .demo-btn,
    .reset-btn {
    font-size: 1.2rem;
    padding: 1rem;
    }

    .button-container {
        gap: 1rem;
    }
}

@media (max-width: 550px) {
    .todo-item .title {
        justify-content: flex-start;
        white-space: nowrap;
        max-width: 100px;
        overflow:hidden;
        text-overflow: clip;
    }
}