
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');

:root {
    --color-main: hsl(355, 74%, 59%);
    --color-tags-all: hsl(180, 70%, 42%);
    --border-radius: 0.4rem;
}

/********************* General reset *********************/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    /* border: solid 1px magenta; */
    margin: 0;
    padding: 0;
}
body {
    /* line-height: 1.5; */
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

span {
    user-select: none;
}

/********************* Main container *********************/

.container {
    /* border: var(--border);
    border-radius: var(--border-radius); */
    display: grid;
    border-radius: var(--border-radius);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    /* gap: 1rem; */
    padding: 2rem;
    width: 60%;
    height: 80%;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.header,
.tags {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

/* .header::after {
    content: '';
    height: 4px;
    border-radius: var(--border-radius);
    width: 100%;
    background: #000;
    position: absolute;
    margin-top: calc(100px + 2rem);
    left: 0;
}

.tags::after {
    content: '';
    height: 4px;
    border-radius: var(--border-radius);
    width: 100%;
    background: #000;
    position: absolute;
    margin-top: 100px;
    left: 0;
} */

 .todos {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
    overflow-y: scroll;
 }

.tags :first-child {
    background-color: var(--color-tags-all);
}

.logo,
.add-btn {
    min-width: 100px;
    height: 100%;
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-main) ;
    aspect-ratio: 1/1;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 800;
    overflow: hidden;
}

.logo-img {
    pointer-events: none;
}

.tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
    /* aspect-ratio: 1/1; */
    font-size: 1.1rem;
    font-weight: 800;
}


.todo-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    background-color: #EFC044;
    font-size: 1.3rem;
    font-weight: 600;
    /* width: 100%; */
}

.todo-item > * {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
}

.flag,
.delete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    min-width: 40px;
    height: 100%;
}

.flag-icon {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    border: solid 3px #fff;
}

.delete-icon {
    cursor: pointer;
    position: absolute;
    color: var(--color-main);
    margin: auto;
    transform: rotate(45deg);
    font-size: 2rem;
}

.todo-item .title {
    justify-content: flex-start;
}

.todo-item .date {
    justify-content: end;
}

.edit-text {
    cursor: pointer;
    opacity: 50%;
    position: absolute;
    left: 50%;
    width: max-content;
}