
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');

:root {
    --color-main: hsl(355, 74%, 59%);
    --color-main-high: hsl(355, 100%, 64%);
    --color-body: hsl(0, 0%, 86%);
    --color-tags-all: hsl(44, 84%, 60%);
    --border-radius: 0.4rem;
    --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --box-shadow-pressed: rgba(0, 0, 0, 0.2) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
    --box-shadow-item: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/********************* General reset *********************/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    /* border: solid 1px magenta; */
    margin: 0;
    padding: 0;
}
body {
    /* line-height: 1.5; */
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-body);
    
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

span {
    user-select: none;
}

/********************* Animation *********************/

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/********************* Main container *********************/

.container {
    display: grid;
    border-radius: var(--border-radius);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    padding: 2rem;
    width: 60%;
    height: 80%;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

.tags {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

/* .header::after {
    content: '';
    height: 4px;
    border-radius: var(--border-radius);
    width: 100%;
    background: #000;
    position: absolute;
    margin-top: calc(100px + 2rem);
    left: 0;
}

.tags::after {
    content: '';
    height: 4px;
    border-radius: var(--border-radius);
    width: 100%;
    background: #000;
    position: absolute;
    margin-top: 100px;
    left: 0;
} */

 .todos {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
    overflow-y: scroll;
 }

.tags :first-child {
    background-color: var(--color-tags-all);
}

.logo-img {
    pointer-events: none;
}

.logo,
.add-btn {
    min-width: 100px;
    height: 100%;
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--color-main) ;
    aspect-ratio: 1/1;
    transition: all 0.1s ease-in-out;
    box-shadow: var(--box-shadow);

    &:hover {
        background-color: var(--color-main-high);
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}

.add-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 800;
    overflow: hidden;

}

/* Little animation for the plus sign that becomes the close form button */

.plus {
    transform: rotate(0deg);
    transition: all 0.2s ease;
}

.plus.open {
    transform: rotate(45deg);
}

/********************* Form container *********************/

.form-todo {
    position: absolute;
    overflow: hidden;
    display: grid;
    border-radius: var(--border-radius);
    background-color: var(--color-main);
    width: 100%;
    height: 0px;
    transition: height 0.2s ease-in;
}

.form-todo.open {
    height: 350px;
}

.form-fields {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.form-fields:first-child {
    margin-top: 1rem;
}

.form-fields:last-child {
    margin-bottom: 1rem;
}

.form-row {
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.form-row.area {
    grid-column-start: span 3;
}

input,
select,
textarea,
button {
    outline: none;
    border: 0;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;

    &::placeholder {
        opacity: 0.5;
    }
}

textarea {
    resize: none;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
}
.todoLabel {
    color: var(--color-main);
}

.set-btn-txt {
    color: #fff;
    pointer-events: none;
    font-size: 1.3rem;
    font-weight: 800;
}

.set-btn {
    cursor: pointer;
    background-color: var(--color-main);
    box-shadow: var(--box-shadow);
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: var(--color-main-high);
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}

.form-todo.open.closed {
    height: 0;
}

/********************* Tags *********************/

.tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 800;
    transition: all 0.1s ease-in-out;
    box-shadow: var(--box-shadow);

    &:hover {
        filter: brightness(1.1);
    }
    &:active {
        box-shadow: var(--box-shadow-pressed);
    }
}


.todo-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    background-color: #EFC044;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: var(--box-shadow-item);
    }

    &:hover .edit-btn {
        color: hsla(0, 0%, 100%, 1);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }

        &:active {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 1px 1px;
        }
    }
}

.todo-item > * {
    position: relative;
    display: flex;
    align-items: center;
    /* min-width: 200px; */
    height: 100%;
}

.flag,
.delete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 100%;
}

.flag-icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    border: solid 2px #fff;
}

.delete-icon {
    cursor: pointer;
    position: absolute;
    color: var(--color-main);
    margin: auto;
    transform: rotate(45deg);
    font-size: 2rem;
}

.todo-item .title {
    justify-content: flex-start;
}

.todo-item .date {
    justify-content: end;
}

div.edit-btn {
    user-select: none;
    color: transparent;
    position: absolute;
    background-color: inherit;
    margin-left: 45%;
    width: max-content;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    box-shadow: none;
    transition: all 0.1s ease-in-out;
    height: 70%;
}